body {
}

h1 {
  color: red;
}

h2 {
  color: pink;
}

button {
  display: block;
  /* margin-left: auto;
  margin-right: auto; */
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 0px;

}

blockquote {
  text-align: center;
  padding: 20px;
}

.header {
  height: 500px;
}

.panel {
  padding: 5px;

}

.jtop {
  background-image: url("../img/ctcbottom.jpg");
  background-size: cover;
  height: 150px;
  font-size: 100px;
}

.jbottom {
  background-image: url("../img/ctctop.jpg");
  background-size: cover;
  height: 150px;
}

.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  padding-top: 20px;
  width: 150px;

}

.container-fluid {
  width: 70%;
  padding-top: 60px;
}

.centertxt {
  padding-top: 40px;
  text-align: center;
  /* position: absolute;
  bottom: 0; */
}

.sayhey {
  text-align: center;
  padding: 20px;
}
.row {
  display: flex;
  flex-direction: row;
}

.shadow {
  box-shadow: inset 0 0 10px #000000;
}

.navtext {
  padding-top: 50px;
  color: white;
  font-size: 20px;
}

.jtop#music {
  background-image: url("../img/midi.png");
  height: 185px;
  font-size: 100px;
}

.jbottom#music {
  background-image: url("../img/midi.png");
  height: 185px;
}

.jtop#pcsl {
  background-image: url("../img/PCSL.png");
  height: 185px;
  font-size: 100px;
}

.jbottom#pcsl {
  background-image: url("../img/PCSL.png");
  height: 185px;
}

.jtop#s1 {
  background-image: url("../img/s1.jpg");
  height: 185px;
  font-size: 100px;
}

.jbottom#s1 {
  background-image: url("../img/s1.jpg");
  height: 185px;
}

.jtop#projects {
  background-image: url("../img/epicodus.png");
  height: 144px;
  font-size: 100px;
}

.jbottom#projects {
  background-image: url("../img/epicodus.png");
  height: 144px;
}

.jtop#aboutMe {
  background-image: url("../img/ctcbottom.jpg");
  height: 150px;
  font-size: 100px;
}

.jbottom#aboutMe {
  background-image: url("../img/ctctop.jpg");
  height: 150px;
}

#aldoMe {
  width : 500px;
}

#s1Pic {
  width : 500px;
}

#ppccssLL {
  width : 500px;
}
