h1 {
  color: red;
}

h2 {
  color: pink;
}

.header {
  height: 500px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 0px;

}

.jtop {
  background-image: url("../img/ctcbottom.jpg");
  background-size: cover;
  height: 150px;
  font-size: 100px;
}

.jbottom {
  background-image: url("../img/ctctop.jpg");
  background-size: cover;
  height: 150px;
  font-size: 100px;

}

#chempic {
  height: 250px;
}
