h1 {
  color: red;
}

h2 {
  color: pink;
}

.jtop {
  background-image: url("../img/ctctop.jpg");
  background-size: cover;
  height: 500px;
  font-size: 100px;
}

.jbottom {
  background-image: url("../img/ctcbottom.jpg");
  background-size: cover;
  height: 500px;
  font-size: 100px;
}

.cardpix {
  width: 300px;
  align-items: center;
}

.card {
  width: 300px;
  height: 400px;
  border-width: thick;
  color: #ffa07a;

}

#chempic {
  height: 250px;
}
