body {
  background-color: white;
}

h1 {
  color: red;
}

h2 {
  color: pink;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 0px;

}

.header {
  height: 500px;
}

.panel {
  padding: 5px;

}

.jtop {
  background-image: url("../img/s1.jpg");
  height: 185px;
  font-size: 100px;
}

.card-img-top {
  width: 1000px;
}

.jbottom {
  background-image: url("../img/s1.jpg");
  height: 185px;
}

.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 200px;

}

.centertxt {
  padding-top: 40px;
  text-align: center;
  /* position: absolute;
  bottom: 0; */
}

.row {
  display: flex;
  flex-direction: row;
}

.shadow {
  box-shadow: inset 0 0 10px #000000;
}

.navtext {
  padding-top: 50px;
  color: white;
  font-size: 20px;
}

@@media query {


}
